span {
    font-size: 1.5rem;
    font-family: helvetica;
}

h1 {
    font-size: 10rem;
    font-family: helvetica nueue;
}

a {
    text-decoration: none;
}

.resultsBox {
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.resultsBox-active {
    opacity: 1;
}

.error {
  animation: flash 1s infinite;
  color: white;
  padding-left:170px;
}

@keyframes flash {
  50% {
    color: white;
    background-color:red;
    border-radius: 1%;
    padding-top:50px;
    padding-bottom: 50px;
  }
}

.random {
  transition: 0.5s ease;
}

.random:hover {
  transition: 0.5s ease;
  background-color:black;
  color:white;
}

#searchInput {
  transition: 0.5s ease;
}

#searchInput:focus {
  transition: 0.5s ease;
  border-color:black;
}